asgiref
certifi
cffi
charset-normalizer
cloudinary
Django
django-cors-headers
djangorestframework
django-cleanup
idna
milksnake
pillow
python-dotenv
pycparser
pytz
pyserial
requests
six
sqlparse
tzdata
urllib3
urlquote
whitenoise
opencv-python
celery
redis
python-dateutil
